/* CSS HEX 
--black-chocolate: #131200ff;
--mantis: #78bc61ff;
--dark-khaki: #c0c781ff;
--camel: #c59b76ff;
--salmon: #e9806eff;
*/

body{
    background-color: #c0c781ff;
}

#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

.container{
    padding: 20px;    
    background-color: #78bc61ff;
}

#albumImage{
    width: 300px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:3em;
}

#trackArtist{
    font-size:2em;
}

.welcomeText{
    font-size:2em;
}